<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Create Task </title>

</head>

<body>


<!- Try building a new body here ->
<h1><strong>Rock Paper Scissors</strong></h1>
<h4 style="color:FireBrick;">Click either Rock, Paper, or Scissors to start the game!</h4>
<h4 style="color:FireBrick;">Try to beat the computer and win 5 games!</h4>
<h2 id="message"></h2>
<style>
    input[type=text][width:100%;border:2px solid #aaa;]


</style>
<button class="options" id="rock">Rock</button>
<button class="options" id="paper">Paper</button>
<button class="options" id="scissors">Scissors</button>

<div> Your Score: </div>
<p id="humanScore">0</p>


Computer Score:
<p id="computerScore">0</p>


<script>
    var scoreComputer = document.getElementById("computerScore");
    var scoreHuman = document.getElementById("humanScore");
    var rock = document.getElementById("rock");
    var paper = document.getElementById("paper");
    var scissors = document.getElementById("scissors");
    var message = document.getElementById("message");

    const options = document.querySelectorAll(".options");

    options.forEach((option) =>
    {
        option.addEventListener("click", function()
        {
            const cOptions = ["Rock", "Paper", "Scissors"];
            const cInput = cOptions[Math.floor(3 * Math.random())];
            const pInput = this.innerText;
            compareInputs(pInput, cInput);
        });
    });

    function compareInputs(pInput, cInput) {
        const currentMatch = `${pInput} vs ${cInput}`;
        // If player and computer Tie
        if (pInput == cInput) {
            alert(`${currentMatch} is a Tie`);
            return;
        }
        // If player selects Rock
        if (pInput == "Rock") {
            if (cInput == "Scissors") {
                alert(`${currentMatch} = You Win`);
                scoreHuman.innerHTML = parseInt(scoreHuman.innerHTML)+1;
            } else {
                alert(`${currentMatch} = Computer Wins`);
                scoreComputer.innerHTML = parseInt(scoreComputer.innerHTML)+1;
            }
        }
        // If player selects Paper
        else if (pInput == "Paper") {
            if (cInput == "Rock") {
                alert(`${currentMatch} = You Win`);
                scoreHuman.innerHTML = parseInt(scoreHuman.innerHTML)+1;
            } else {
                alert(`${currentMatch} = Computer Wins`);
                scoreComputer.innerHTML = parseInt(scoreComputer.innerHTML)+1;
            }
        }
        // If player selects Scissors
        else if (pInput == "Scissors") {
            if (cInput == "Paper") {
                alert(`${currentMatch} = You Win`);
                scoreHuman.innerHTML = parseInt(scoreHuman.innerHTML)+1;
            } else {
                alert(`${currentMatch} = Computer Wins`);
                scoreComputer.innerHTML = parseInt(scoreComputer.innerHTML)+1;
            }
        }
        winCheck()

    }

    function winCheck() {
        if (scoreHuman.innerHTML == '5') {
            rock.style.display = "none"
            paper.style.display = "none"
            scissors.style.display = "none"
            message.innerHTML = "You won " + scoreHuman.innerHTML + " - " + scoreComputer.innerText
            scoreHuman.innerHTML = 0;
            scoreComputer.innerHTML = 0;
        } else if (scoreComputer.innerHTML == '5') {
            rock.style.display = "none"
            paper.style.display = "none"
            scissors.style.display = "none"
            message.innerHTML = "You lost " + scoreHuman.innerHTML + " - " + scoreComputer.innerText
            scoreHuman.innerHTML = 0;
            scoreComputer.innerHTML = 0;
        } else {
            alert(`Continue playing until someone reaches 5 wins!`);
        }
    }
</script>

</body>

</html>