<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    {% set MASK = "/static/assets/aidanwithmask;0.jpg" %}
    {% set NOMASK = "/static/assets/aidanwithoutmask;0.jpg" %}
    <meta charset="UTF-8">
    <title>Aidan Wu's great About Page</title>
    <style>
        div {text-align: center; vertical-align: center}
    </style>
    <script>
        function changeMask() {
            const image = document.getElementById('pic');
            if (image.src.match("{{ MASK }}")) {
                image.src = "{{ NOMASK }}";
            } else {
                image.src = "{{ MASK }}";
            }
        }
    </script>
</head>
<body>
<div>
    <td><img onclick="changeMask()" class="img-responsive py-3" id="pic" src="{{ MASK }}" width="500" height="Auto">
    </td>
</div>
</body>
</html>