<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>UH OH SISTERS</title>
    <link rel="stylesheet" href="../../static/css/css2.css">
    {%block head%}
        <script>
            function changeMask() {
                const image = document.getElementById('pic');
                if (image.src.match("/static/assets/WLm.jpg")) {
                    image.src = "/static/assets/WLnm.jpg";
                } else {
                    image.src = "/static/assets/WLm.jpg";
                }
            }
        </script>
    {%endblock%}
</head>
<body>
<h1>h1</h1>
<p style="color: black">williams test page stuff</p>
<img id="pic" src="/static/assets/WLm.jpg" onclick="changeMask()">
<a href="https://docs.google.com/document/d/1JlCWDvBfgdGk6yeL6dtcpMhvRKLAqF3XmNti3TT9wHY/edit?usp=sharing"> Journal </a>
</body>
</html>