<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    {% set MASK = "/static/assets/WilliamWu_mask.PNG" %}
    {% set NOMASK = "/static/assets/WilliamWu_nomask.PNG" %}
    <meta charset="UTF-8">
    <title>William's About Page</title>
    <style>
        div {text-align: center; vertical-align: center}
    </style>
    <script>
        function changeMask() {
            const image = document.getElementById('pic');
            if (image.src.match("{{ MASK }}")) {
                image.src = "{{ NOMASK }}";
            } else {
                image.src = "{{ MASK }}";
            }
        }
    </script>
</head>
<body>
<h1><b>William Wu</b></h1>

<div>
    <td><img onclick="changeMask()" class="img-responsive py-3" id="pic" src="{{ MASK }}" width="500" height="Auto">
    </td>
</div>
<h2>
    <b>My name is William Wu, and I am the design manager for Furious Five. <br>
        I enjoy coding and cybersecurity. <br>
        In addition, I like playing video games and eating. <br> </b>
</h2>
</body>
</html>