<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/"></a>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavbarid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">UH OH SISTERS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Timekeeping
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/timer/">Tomato Timer</a>
                        <a class="dropdown-item" href="/wCalendar/">Weekly Calendar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Rooms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/cafe">Cafe Study</a>
                        <a class="dropdown-item" href="/naturesounds">Nature Study</a>
                        <a class="dropdown-item" href="/darkmode">Dark Mode</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Classes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/subjects">Subjects</a>
                        <a class="dropdown-item" href="/calculator">Calculator</a>
                        <a class="dropdown-item" href="/english">English </a>
                        <a class="dropdown-item" href="/science">Science</a>
                        <a class="dropdown-item" href="/notebook3">Notebook 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Minigames
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/tictactoe">Tic Tac Toe</a>
                        <a class="dropdown-item" href="/rockpaperscissors">Rocket Paper Scissors</a>
                        <a class="dropdown-item" href="/sleepingsimulator">Sleeping Simulator</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/feedback">Feedback <span class="sr-only"></span></a>
                </li>
                <!--- ADD ANY ADDITIONAL NAV LINKS BEFORE "ABOUT US" CODE BELOW!! -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/aidanwu">Aidan Wu</a>
                        <a class="dropdown-item" href="/williamli">William Li</a>
                        <a class="dropdown-item" href="/vaishavijay">Vaishavi Jayashankar</a>
                        <a class="dropdown-item" href="/williamwu">William Wu</a>
                        <a class="dropdown-item" href="/soren">Soren Zhuang</a>
                    </div>
                </li>
                <div class="search-box">
                    <input type="text" name="search" class="search-txt" placeholder="Search">
                    <a href="#" class="search-btn">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</nav>
</body>
