<!DOCTYPE HTML>
<html lang="en">
{% extends "layouts/base.html" %}
<head>

    <title>UH OH SISTERS | About Us </title>
    <link rel="stylesheet" href="../../static/css/css2.css">
</head>


    </head>



<body>

<title style="color: navy">UH OH SISTERS | About Us </title>
<link rel="stylesheet" href="../../static/css/css2.css">
<h1 style="color: navy;">UH OH SISTERS | About Us</h1>


<p>fffffff</p>

<p>
    <img alt="" src="/static/assets/William Wu.png"
         style="height: 200px; width: 300px" id="imgClickAndChange" onclick="changeImage()"  />
</p>

<script language="javascript">
    function changeImage() {

        if (document.getElementById("imgClickAndChange").src == "/static/assets/William Wu.png")
        {
            document.getElementById("imgClickAndChange").src = "/static/assets/William Wu_mask.jpg";
        }
        else
        {
            document.getElementById("imgClickAndChange").src = "/static/assets/William Wu.png";
        }
    }
</script>


</body>
</html>