<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}
<head>

    <title style="color: navy">furious five | About Us </title>
    <link rel="stylesheet" href="../../static/css/css2.css"


</head>

<body>
<h1 style="color: navy;">furious five | About Us</h1>
<p>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
</body>
<head>
</html>