<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="css/darkmode.scss">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous" ></script>
<style>
  :root{
    --white: whitesmoke;
    --black: black;
    --grey: grey;
  }

  html, body{
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-color: #cbc9e3;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: Trebuchet;
    line-height: 2;
  }
  table {
    align-content: center;
  }

  .dark-mode {
    background-color: dimgrey;
    color: white;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    line-height: 3;
  }
  h2 {
    font-size: 1.1em;
    line-height: 3;
  }

  l1 {
    margin: 10px;
  }

  div1 {
    align-content: center;
  }
</style>
<title> Furious Five | Home </title>
{% include "layouts/navbar.html" %}
<body>
<h1><b>The Furious Five™ Study Buddy</b></h1>
<h2> <table style="width:90%" align="center">
  <tr>
    <td>
      <h2>Welcome to The Furious Five™'s  Study Buddy, an online productivity planner, calendar, and overall manager,</h2>
      <h2> from students, to students.</h2>
      <h2><b> . . </b></h2>
      <h2>While our website aims to aid students, we dedicate and hope to provide any support possible for any</h2>
      <h2> busy lives out there in need of a bit of organization, planning, and freedom.</h2>
      <h2><b> . . </b></h2>
      <h2>Feel free to take a look around! <3 </h2>
    </td>
    <td><iframe src="https://open.spotify.com/embed/playlist/1W5uZJBSewWIPJMuZ4v0o5?utm_source=generator&theme=0" width="110%" height="500px" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe></td>
    <!-- playlist credit: vai (Vaishavi Jayashankar) on Spotify -->
  </tr>
</table>
</h2>

</body>
{% block content %}
{% endblock %}